@charset "UTF-8";

@media screen and (min-width: 769px) {
    nav {
        text-align: left;
        margin-left: 20px;
    }

    main {
        width: 80%;
    }

    article > h1 {
        font-size: 2.5em;
        text-align: left;
    }
    
    aside > h2 {
        font-size: 1.5em;
        
    }
    
    aside > p {
        text-indent: 35px;
    }

    section#lados {
        columns: 2;
    }

    aside#apresentacao {
        display: inline-block;
        
    }

    
    .imagem {
        display: inline-block;
        width: 80%;
        height: 350px;
        margin-top: 70px;
        text-align: center;
        
    }
    
    aside.junto {
        
        background-attachment: fixed;
        background-size: cover;
    }

    #projeto {
        background-attachment: fixed;
        columns: 2;
        background-size: cover;
    }

    .projetos {
        height: 50%;
        width: 80%;
        margin-top: none;
    }

    #resid {
        transform: translate(0%, -6%);
    }
}

@media screen and (min-width:986px) {
    section#lados {
        height: 100%;
    }
    
    aside > p {
        text-indent: 35px;
        margin-top: 50px;
        text-align: justify;
    }

    .imagem {
        
        width: 90%;
        height: 350px;
        margin-left: 30px;
        margin-bottom: 20px;
    }
}